<div class="row">
    <h1>Hard & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="50"
       [radius]="100"
       [showUnits]="false"
       [title]="'HTML'"
       [titleColor]="'white'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'orange'"
       [innerStrokeColor]="'silver'"
       [animation]="true"
       [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress
       [percent]="55"
       [radius]="100"
       [showUnits]="false"
       [title]="'CSS'"
       [titleColor]="'white'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'orange'"
       [innerStrokeColor]="'silver'"
       [animation]="true"
       [animationDuration]="300"
       ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="50"
           [radius]="100"
           [showUnits]="false"
       [title]="'JAVASCRIPT'"
       [titleColor]="'white'"
       [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'orange'"
           [innerStrokeColor]="'silver'"
           [animation]="true"
           [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
               [percent]="50"
               [radius]="100"
               [showUnits]="false"
       [title]="'GITHUB'"
       [titleColor]="'white'"
       [showSubtitle]="false"
               [outerStrokeWidth]="16"
               [innerStrokeWidth]="8"
               [outerStrokeColor]="'orange'"
               [innerStrokeColor]="'silver'"
               [animation]="true"
               [animationDuration]="300"
            ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
                   [percent]="25"
                   [radius]="100"
                   [showUnits]="false"
       [title]="'JAVA'"
       [titleColor]="'white'"
       [showSubtitle]="false"
                   [outerStrokeWidth]="16"
                   [innerStrokeWidth]="8"
                   [outerStrokeColor]="'orange'"
                   [innerStrokeColor]="'silver'"
                   [animation]="true"
                   [animationDuration]="300"
                ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
                       [percent]="55"
                       [radius]="100"
                       [showUnits]="false"
       [title]="'INGLÉS'"
       [titleColor]="'white'"
       [showSubtitle]="false"
                       [outerStrokeWidth]="16"
                       [innerStrokeWidth]="8"
                       [outerStrokeColor]="'orange'"
                       [innerStrokeColor]="'silver'"
                       [animation]="true"
                       [animationDuration]="300"
         ></circle-progress>
    </div>
</div>
