<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Atención al público.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem asperiores dicta nesciunt laudantium obcaecati adipisci vero optio! Repudiandae eaque ab alias, ipsam aperiam ipsum dolorum ipsa, expedita, quam atque facilis!
            </p>
        </ul>
    </div>
</div>
