<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>#Séprogramar Primera Etapa</h1> - <h3>2021</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem asperiores dicta nesciunt laudantium obcaecati adipisci vero optio! Repudiandae eaque ab alias, ipsam aperiam ipsum dolorum ipsa, expedita, quam atque facilis!
            </p>
        </ul>
        <ul>
            <li>
                <h1>#Yoprogramo Segunda Etapa</h1> - <h3>2022</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem asperiores dicta nesciunt laudantium obcaecati adipisci vero optio! Repudiandae eaque ab alias, ipsam aperiam ipsum dolorum ipsa, expedita, quam atque facilis!
            </p>
        </ul>
    </div>
</div>

