<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/evha1414"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.facebook.com/vanesa.solterman"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light">INGRESAR</button>
        </div>
    </div>
</div>
