<div class="row">
    <div class="col-sm-2 col-md-2 col-lg-3">
        <img src="../../../assets/foto.jpg" class="img-fluid" id="foto">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
        <p>Córdoba, Argentina</p>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-9">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipudiandae, fugit fugiat libero beatae temporibus voluptatibus tempore delectus! Porro, excepturi hic.</p>
        </span>
    </div>
</div>

